.contenido{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.contimg{
    width: 400px;
    margin:  0 auto;
    
    
    border-style: groove;
    border-radius: 5px;
    box-shadow: 10px 2px 20px ;
}
.img{
    width: 100%;
    margin: auto;
    
}
@media(max-width:720px){
    .contimg{
        width: 230px;
        margin-top:15px  ;
}
@media(max-width:475px){
    .contimg{
        width: 200px;
        margin-top:15px  ;
}
@media(max-width:418px){
    .contimg{
        width: 190px;
        margin-top:15px  ;
}
@media(max-width:398px){
    .contimg{
        width: 160px;
        margin-top:15px  ;
}
@media(max-width:366px){
    .contimg{
        width: 150px;
        margin-top:15px  ;
}
@media(max-width:316px){
    .contimg{
        width: 130px;
        margin-top:15px  ;
}
@media(max-width:276px){
    .contimg{
        width: 110px;
        margin-top:15px  ;
}
@media(max-width:236px){
    .contimg{
        width: 100px;
        margin-top:15px  ;
}
@media(max-width:216px){
    .contimg{
        width: 90px;
        margin-top:15px  ;
}
