body{
    margin: 0;
    border-top: 0px;
}
.footerinf{
    margin: auto;
    list-style: none;
    padding: 0px;
    display: flex;
    background: #272727;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.footer{
    display: block;
    padding: 35px 10px;
    color:#fff;
    text-decoration: none;
    
   
    
}
.titulo{
    font-size: 25px;
}

.redesfo{
    background: black;
    margin-top: auto;
    list-style: none;
    display: flex;
    margin: auto;
}


@media(max-width:768px){

    .footerinf{
        margin: auto;
        list-style: armenian;
        padding: 0;
        display:flexbox ;
        background:#272727;
        flex-direction: column;
        border-right:5px ;
        border-left:100px ;
        max-width: 100%;
    }
    .footer{
        display: block;
        padding: 20px 10px;
        color:#ffff;
        text-decoration: none;
        font-size: 20px;
    } 
    
    .redesfo{
        background: black;
        margin-top: auto;
        list-style: armenian;
        display: flex;
        margin: auto;
        flex-direction: column;
        padding: 0;
        max-width: 100%;
    }
}