.contenido{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.contimg{
    width: 300px;
    margin:  0 auto;
    
    border-bottom:-1px;
    border-left: 1px;
    border-style: groove;
    border-radius: 5px;
    box-shadow: 10px 2px 20px ;
}
.img{
    width: 100%;
    margin: auto;
    
}
@media(max-width:720px){
    .contimg{
        width: 230px;
        margin-top:15px  ;
}
@media(max-width:465px){
    .contimg{
        width: 200px;
        margin-top:15px  ;
}
@media(max-width:408px){
    .contimg{
        width: 190px;
        margin-top:15px  ;
}
@media(max-width:388px){
    .contimg{
        width: 180px;
        margin-top:15px  ;
}
@media(max-width:366px){
    .contimg{
        width: 150px;
        margin-top:15px  ;
}
@media(max-width:306px){
    .contimg{
        width: 130px;
        margin-top:15px  ;
}
@media(max-width:266px){
    .contimg{
        width: 110px;
        margin-top:15px  ;
}
@media(max-width:226px){
    .contimg{
        width: 100px;
        margin-top:15px  ;
}
@media(max-width:206px){
    .contimg{
        width: 90px;
        margin-top:15px  ;
}
